/*headerStart*/
.forHeader {
  height: auto;
  width: auto;
  background-color: #ececec;
  padding-top: 1px;
  padding-bottom: 1px;
  margin-bottom: 5px;
}
.forHeader a {
  text-decoration: none;
}

.forHeader a:hover {
  color: #2d3233;
}

.forHeader div {
  display: flex;
  font-size: 30px;
  text-transform: uppercase;
  padding-left: 10%;
  align-items: center;
  margin: 15px;
}

.forHeader img {
  height: 36px;
  width: 36px;
  margin-right: 5px;
}

.forNav {
  padding-top: 5px;
  height: 25px;
  position: relative;
}

.forNav ul {
  position: absolute;
  display: flex;
  padding-left: 10%;
  flex-flow: row wrap;
}
.forNav ul li {
  display: inline;
  padding: 10px;
}

.forNav ul a {
  text-decoration: none;
}

.forNav ul li:hover {
  background-color: #ff4f5a;
  color: #f0f9ff;
}

.forNav ul a {
  text-decoration: none;
}

@media (max-width: 767px) {
  .footer-dark .item:not(.social) {
    text-align: center;
    padding-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .footer-dark .item.text {
    margin-bottom: 0;
  }
}
/*headerEnd*/

/*homeStart*/
.HomeDiv {
  margin: 5px;
  padding-top: 30px;
  padding-bottom: px;
  text-align: center;
}
/*homeStart*/

/*MealsListStart*/
.forList {
  padding: 3%;
  text-align: center;
}

/*MealsListEnd*/

/*AddMealStart*/
.AddMealDiv {
  margin: 31px;
}

.AddMealDiv div {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
}

input {
  display: flex;
  flex-direction: row;
  background-color: #ececec;
  border-radius: 5px;
  padding: 5px;
  border: none;
  outline: none;
  margin-left: 15px;
  margin-bottom: 3%;
  font-size: 15px;
}

.ButtonDiv {
  text-align: center;
}

button {
  background-color: #ff4f5a;
  border-radius: 5px;
  border-width: 0px;
  color: white;
  padding: 5px;
  font-size: 17px;
  padding-bottom: 3%;
  align-items: center;
}

/*AddMealEnd*/
